/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.square {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 90px;
    color: forestgreen;
    text-align: center;
}

.square-2 {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 90px;
    color: forestgreen;
    text-align: center;
}

.square-2:nth-child(2n) {
    border-left:solid 1px black;
    border-right: solid 1px black;
}

#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
}

#grid-2 {
    display: flex;
    flex-direction: column;
}

.square-hover {
    background-color: gold;
}

.row {
    display: flex;
}

.row:nth-child(1) {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}